.container{
    max-width: 2020px;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
}
.flexhead{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
}
.header{
    background-color: black;
}
.logo h1 a{
    text-decoration: none;
    font-family:"Roboto", sans-serif;
    font-size: 20px;
    color: #ffff;
    font-weight:700;
    letter-spacing: 1px;
    
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
}
.navigation ul li{
    display: inline-block;
    padding: 10px 0 10px 20px;
}
.navigation button{
    padding: 6px 11px 6px 11px;
    font-size: 10px;
    margin-left: 15px;
    background-color: black;
    color: #ffff;
    border-radius: 5px;
    border: 1px solid #5c9f24;
}
